  <footer class="page-footer text-center font-small mt-4 wow fadeIn">
    </div>
    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2020:
      <a href="" target="_blank"> HoangBH </a>

      <a href="https://www.facebook.com/hai.blackhole/" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://github.com/BlackHole-rw/shop-django-MVC" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>
    </div>
    <!--/.Copyright-->

  </footer>
